body {
    background-color: rgb(201, 165, 239);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1 {
    font-size: 52px;
    color: rgb(88,49,196)
}

header {
    text-align: center;
    padding: 32px;
}

header img {
    width: 300px;
}
 
main {
    background-color: rgb(122, 74, 218);
    padding: 32px;
    margin: 32px auto;
    width: 700px;
    border-radius: 20px;
    color: aliceblue;
}

ul  {
    margin: 0;
    padding: 0;
    list-style: none;

}

li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;   
}

a {
    text-decoration: none;
    color: rgb(36, 3, 102);
    background-color: rgb(255,237,177);
    padding: 2px 6px;
    border-radius: 4px;
}

a:hover,a:active {
    background-color: yellow;
}

footer {
    text-align: center;
}
footer p {
    color: rgb(247, 209, 85);
    margin-top: 30px;
} 
footer a {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: yellow;
    color: rgb(66, 51,4);
}

footer a:hover,
footer a:active {
    background-color: pink;
}
.extra-important {
    color: rgb(255,237,177);
    border-left: 5px solid rgb(247, 209, 85);
    
}

.highlight {
    font-weight: bold;
}

